<div class='home-cards'>
  <div class="card" style="width: 18rem;">
    <img src="/images/gym_activities.jpg" class="card-img-top" alt="Gym activities image">
    <div class="card-body">
      <h5 class="card-title">Activities</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <a href="/activities" class="btn btn-primary">Discover more...</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="images/gym_trainers.jpeg" class="card-img-top" alt="Gym trainers image">
    <div class="card-body">
      <h5 class="card-title">Trainers</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <a href="/trainers" class="btn btn-primary">Discover more...</a>
    </div>
  </div>

</div>

<div class='home-description'>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet fringilla mi. Sed mollis convallis tortor
    nec finibus.<br> Cras dapibus dapibus sodales. Integer sit amet vulputate risus, nec maximus.</p>
</div>