<div class='home-cards'>
  <div class="card" style="width: 22rem;">
    <img src="/images/gym_activities.jpg" class="card-img-top" alt="Gym activities image">
    <div class="card-body">
      <h3 class="card-title">Activities</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <a href="/activities" class="btn btn-primary">Discover classes!</a>
    </div>
  </div>
  <div class="card" style="width: 22rem;">
    <img src="images/gym_trainers.jpeg" class="card-img-top" alt="Gym trainers image">
    <div class="card-body">
      <h3 class="card-title">Trainers</h3>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <a href="/trainers" class="btn btn-primary">Meet the trainers!</a>
    </div>
  </div>
</div>