<h1>Trainers</h1>

<div class='trainers-cards'>
  <div class="card" style="width: 18rem;">
    <img src="/images/swimming_coach.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Swimming</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <a href="#" class="btn btn-primary">Reserve</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/images/zumba_coach.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Zumba</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <a href="#" class="btn btn-primary">Reserve</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="/images/boxing_coach.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Boxing</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <a href="#" class="btn btn-primary">Reserve</a>
    </div>
  </div>

</div>